/* You can add global styles to this file, and also import other style files */
@import "~angular-notifier/styles.css";

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field {
    width: 100%;
}

.navbar-search-dark .input-group {
    border-color: #000000;
}

.navbar-search-dark .form-control,
.navbar-search-dark .input-group-text {
    color: rgba(0, 0, 0, 1);
}